
<h2 class="text-center">Profile Search</h2>

        <div class="panel panel-main panel-default">
            <div class="panel-heading text-center blueBackground whiteText text150">Blake Eversole</div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
                    <li><a data-toggle="tab" href="#security">Security</a></li>
                    <li><a data-toggle="tab" href="#attendance">Attendance</a></li>
                    <li><a data-toggle="tab" href="#reportcard">Report Cards</a></li>
                </ul>
                <div class="tab-content">
                    <div id="profile" class="tab-pane fade in active">
                        <h3>PROFILE INFO</h3>
                        <div class="panel panel-main panel-default width50">
                            <div class="panel-heading text-center blueBackground whiteText text125">General Info</div>
                                <div class="panel-body">
                                    Info goes here
                                </div>
                        </div>
                        <div class="panel panel-main panel-default width50">
                            <div class="panel-heading text-center blueBackground whiteText text125">Phone Info</div>
                            <div class="panel-body">
                                Info goes here
                            </div>
                        </div>
                        <div class="panel panel-main panel-default width50">
                            <div class="panel-heading text-center blueBackground whiteText text125">Email Info</div>
                            <div class="panel-body">
                                Info goes here
                            </div>
                        </div>
                    </div>
                            <div id="security" class="tab-pane fade">
                                <h3>SECURITY</h3>
                                <p>Info to here. Info to go here. Info to go here.</p>
                            </div>
                            <div id="attendance" class="tab-pane fade">
                                <h3>ATTENDANCE INFO</h3>
                                <p>Info to here. Info to go here. Info to go here.</p>
                            </div>
                            <div id="reportcard" class="tab-pane fade">
                                <h3>REPORT CARD INFO</h3>
                                <p>Info to here. Info to go here. Info to go here.</p>
                            </div>
                        </div>
                    </div>
        </div>
    


